.App {
  border-style:solid ;
  border-radius: .5rem;
  text-align: center;
  margin: 1rem;
  padding: 0 1rem 2rem;
  min-width: 550px;
  
}
.main-app{
  width: 100%;
  margin-right: -1rem;
  margin-bottom: -1.2rem;
}
.super-list{
  width: 50%;
  
 
}
/* .super-list > h1{
  border-bottom: solid;
  margin-top: 1rem;
  padding-bottom: 1rem;
} */
.app-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



